.messenger {
  display: grid;
  grid-template: auto 1fr / repeat(8, 1fr);
  gap: 10px;
}
.search_for_friend, .content, .right_messenger {
  padding: 6px;
}  
.messenger .search_for_friend {
  grid-area: 2 / 1 / -1 / 3;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.search_for_friend input {
  width: 90%;
  padding: 12px;
  border-bottom: 1px solid #eeee;
  font-size: 12px;
}
.chat_menu_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
}
.messenger .content {
  grid-area: 2 / 3 / -1 / 7;
  position: relative;
  background-color: #eeeeeea1;
  border-radius: 12px;
}
.content .msg_box {
  height: 86vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content .messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 75%;
  overflow-y: scroll;
}
.content .area_send {
  width: 98.4%;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 10px;
  z-index: 999;
}
.area_send textarea {
  min-height: 120px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 12px;
  resize: none;
  width: 100%;
}
.content .btn_send {
  background-color: blueviolet;
  color: #fff;
  
}
.no_conversation {
  font-size: 32px;
  color: #77777790;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
}
.messenger .right_messenger {
  grid-area: 2 / 7 / -1 / -1;
}
.right_messenger .list_chat_onligne {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 72%;
  overflow-y: scroll;
}